.demo-list-control {
		  width: 300px;
		}

.demo-list-radio {
		  display: inline;
		}

/*.mdl-layout__header{
	background-color: white;
	color: #0D47A1;
}

.mdl-layout__header-row .mdl-navigation__link, .mdl-layout__header .mdl-layout__drawer-button{
	color: #0D47A1;
}

.mdl-layout__header-row .mdl-navigation__link{
	line-height: 30px;
}

.mdl-layout__title, .mdl-layout__title a{
	color: #0D47A1;
	font-weight: bold;
	text-decoration: none;
}

.mdl-layout__header-row{
	padding-bottom: 3px;
}

a.mdl-navigation__link{
}

#navRow a:hover{
	color: #0D47A1;
	font-weight: : 1000;
}

.page-content{
	text-align: justify;
}

.card-wide{
	margin-bottom: 25px;
}

.card-wide.mdl-card {
  width: 95%;
}

.card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
}

.card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card__title-text{
	font-weight: 800;
}

/*#navRow a{
	border:3px solid transparent;
	border-radius: 3px;
}	

#navRow a:hover{
	border-bottom-color: #EF6C00;
}*/

/*.mdl-mini-footer{
	background-color: #fcfcfc;
}

#logoImage{
	float: left;
}

.card-medal{
	max-width: 20%;
	float: left;
}
.card-supporting-text{
	width: 80%
}*/
/*
#title {
	text-decoration: none;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  	color: white;
  	font-weight: 500;
  	line-height: 1;
  	letter-spacing: 0.02em;
  	font-weight: 400;
}

.mdl-layout__title, .mdl-layout-title{
	font-size: 30px;
	letter-spacing: 0;
	font-weight: bold;
}

#headerRow{
	background-color: transparent;
	text-decoration: none;
	margin:0px auto;
	padding-left: 1em;
	padding-right: 1em;
}

.mdl-layout__header--transparent.mdl-layout__header--transparent{
	background-color: #01579B;
	background-color: #586994;
	background-color: #0B3648;
}

.mdl-layout__header--transparent.mdl-layout__header-row#navRow{
	background-color: brown;
}

.titleQuote{
	font-size: 0.4em;
	text-align: center;
	font-weight: normal;
	color: #ecf0f1;
}

.mdl-layout--fixed-header .mdl-layout__header,
.mdl-layout--fixed-header .mdl-layout__drawer-button {
}


.mdl-navigation .mdl-navigation__link{

	color: #006064;
	color: #00788B;
	color: #011627;
	font-weight:bold;
	line-height: 25px;
	-- trying a take on wired.com menu bar but going with a more centered approach--
	border: 1px solid black;
	width: 75px;
	height: 25px;
	text-align: center;
	--
}

#navRow{
	max-height: 30px;
	padding-left: 1em;
	padding-right: 1em;
	border-bottom: 1px solid grey;
	display:flex;
	justify-content:center;
	align-items:center;
}

#navRow a:hover{
	font-size: 1.1em;
	color: black;
}


.mdl-navigation .navLinks{
	width: 150px;
	height: 25px;
	text-align: center;
}

.content{
	text-align:justify-all;
}

.mdl-mini-footer{
	background-color: #455A64;
	padding-top: 10px;
	padding-bottom: 5px;
}
.mdl-mini-footer__social-btn{
	background-color: transparent;
	width: 25px;
	height: 25px;
	padding: 3px;
}

.socialLogos{
	height: 25px;
	width: 25px;
}
.mdl-mini-footer{
	padding-bottom: 10px;
}

.mdl-logo{
	margin-bottom: 0px;
}*/